*
  margin: 0
  padding: 0

html, body
  height: 100%

body 
  background: $grey-200
  font-family: $font-regular  

* html .general
  height: 100%

.general
  width: 100%
  min-height: 100%
  position: relative
  

//Section Properties

.section-pages
  padding-bottom: 30px


.section-content 
  width: 960px
  margin: 0 auto
  position: relative
  height: auto
  .section-title
    text-align: center
    font-size: 25px
    margin-bottom: 30px


.item-fade
  vertical-align:top
  opacity: 1
  transition: opacity .25s ease-in-out
  -moz-transition: opacity .25s ease-in-out
  -webkit-transition: opacity .25s ease-in-out

.hover:hover
  opacity:.6

  


